  a{
  outline: none;
  }
  #logo
  {
    font-size: 18px;
    font-weight: 500;
    color: #CCCCFF;
  }
  .navbar.nomargin
  {
    margin-bottom: 0px;
  }
  .navbar-nav > li > a{
  font-size: 22px;
  line-height: 30px;
  }
  .navbar-brand{
  font-size: 25px;
  height: 60px;
  line-height: 35px;
  }
  .navbar-toggle{
    margin-top: 14px;
    margin-bottom: 14px;
  }

  hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 3px solid #eee;
    }
  .recent_article {
  min-height: 500px;
  color: #333;
  }
 
  .recent_article h1{
  text-align: center;
  }
  .recent_article h2{
  font-size: 30px;
  }
  .recent_article h2:hover{
  color: #555;
  }
  
  
  .recent_article h5{
  font-size: 20px;
  color: #333;
  }
  .recent_article p{
  font-size: 20px;
  color: #333;
  }
  .recent_article p:hover{
  color: #444;
  }
  
  .recent_article a:hover{
  color: #444;
  text-decoration: none;
  }
  .recent_article a:visited{
  color: #333;
  text-decoration: none;
  }
  .recent_article a:link{
  color: #333;
  text-decoration: none;
  }
  
  .footer{
  color: #777;
  }
  .footer h3:hover,h4:hover{
  color:#444;
  }
  
  .vertical_separator{
  width:1px;
  float: right;
  height: 90%;
  background-color: #e5e5e5;
  
  }
  
  
  #info_nothing h1{
  text-align: center;
  padding: 200px 0;
  color: #333;
  text-decoration: none;
  }
  #info_nothing a:hover,a:link,a:visited,a:checked{
  text-decoration: none;
  }

  #info_nothing h1:hover,h1:visited,h1:link{
  color: #555;
  text-decoration: none;
  }
