{% extends "shaozi_blog/base.html" %}
{% load static %}
{% block different_css %} 
<link rel="stylesheet" href="{% static 'shaozi_blog/css/style_for_article.css' %}" type="text/css">
{% endblock %}



{% block prettyPrint_onload %}
onload="PR.prettyPrint()"
{% endblock %}
{% block prettyPrint_script %}
<script src="text/javascript" src="{% static 'shaozi_blog/js/prettify.js' %}"></script>
{% endblock %}
 
{% block main %}
  <div class="article">
    <h1 class="text-center">二叉树遍历</h1>
      <h2>Post by John Doe, Sep 24, 2015</h2>
        <div class="row margin_bottom_for_lebal">
          <div class="col-xs-10" >
            <span class="label label-default for_block">Default</span>
            <span class="label label-primary for_block">Primary</span>
            <span class="label label-success for_block">Success</span>
            <span class="label label-info for_block">Info</span>
            <span class="label label-warning for_block">Warning</span>
            <span class="label label-danger for_block">Danger</span>
         </div>
       </div>
      <p>而是决心去<strong>北京学习</strong>。在填写大学志愿之前，文章专门去北<span class="text-primary">京考察了中国两大艺术院校—北京电影学院和中央戏剧学院。回到西 </span> 安之后，文章不顾父母阻拦，将大学志愿从一本到专科总共八</p>
      <div class="row">
        <div class="col-xs-12 "align="center"><img class="img-responsive" src="https://www.w3schools.com/w3images/nature.jpg" alt="图片无法显示，请联系管理员。""></div>
      </div>
      <div class="row">
        <div class="well well-lg">
          <code class="prettyprint lang-css">.margin_bottom_for_lebal{margin-bottom: 40px;}</code>
        </div>
      </div>
    </div>
  </div>
{% endblock %}    

