{% extends "shaozi_blog/base.html" %}
{% load static %}
{% block different_css %} 
<link rel="stylesheet" href="{% static 'shaozi_blog/css/style_for_article.css' %}" type="text/css">
{% endblock %}



{% block prettyPrint_onload %}
onload="PR.prettyPrint()"
{% endblock %}
{% block prettyPrint_script %}
<script type="text/javascript" src="{% static 'shaozi_blog/js/prettify.js' %}"></script>
{% endblock %}
 
{% block main %}
  <div class="article">
    <h1 class="text-center">{{ an_article.title }}</h1>  
    <h2>{{ an_article.author }}{{ an_article.time_for_html }} </h2>
      <div class="row margin_bottom_for_lebal">
        <div class="col-xs-10">
        {% for color , lebal in an_article.lang %}
          <span class="label label-{{ color }} for_block">{{ lebal|safe }}</span>
        {% endfor %}
        </div>
      </div>
      {% for i in content %}
        {{ i|safe }}
      {% endfor %}
  </div>
{% endblock %}


