{% extends "shaozi_blog/base.html" %}
{% load static %}
{% block different_css %}
<link rel="stylesheet" href="{% static 'shaozi_blog/css/style_for_index.css' %}" type="text/css">
{% endblock %}

{% block big_title %}
<div class="contain-fluid text-center" id="big_title">
  <div class="row">
    <div class="col-xs-10 col-sm-8 col-xs-offset-1 col-sm-offset-2">
      <h1>博客介绍</h1>
      <p>这是非常有意思的博客</p>
    </div>
  </div>
</div>
{% endblock %}

{% block main %}
<div class="recent_article">
<h1>最新的文章</h1>
{% for article in article_set %}
  <a href="{% url 'shaozi_blog:article' pk=article.article_id %}"><h2>{{ article.title }}</h2></a>
  <h5>{{ article.author.name }} , {{ article.submit_date }}</h5>
  {% if article.language %}
    <div class="row">
      <div class="col-xs-10" style="margin-bottom :5px;">
        {% for color , language in article.lang %}
          <span class="label label-{{ color }} for_block">{{ language|safe }}</span>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  <p>{{ article.description }}</p>
  <hr>
{% endfor %}
</div>
{% endblock %}
